.DS_Store
node_modules
docs/
dist/
dist-demo/
dist-release/
test-results/
playwright-report/
.idea
*.bak
*.bak.*
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.code-workspace
